@import "./colors.scss";

.characterName {
  font-family: Kallisto;
  font-weight: 800;
}

.gameTitle {
  font-family: Kallisto;
  font-weight: 300;
}

.gameSeries {
  font-family: Kallisto;
  font-weight: 300;
}

.arguments {
  font-family: Kallisto;
  font-weight: 300;
}

.characterImage {
  max-height: 500px;
  max-width: 500px;
}