@import "./colors.scss";

.characterName {
  font-family: Kallisto;
  font-weight: 800;
}

.gameTitle {
  font-family: Kallisto;
  font-weight: 300;
}

.gameSeries {
  font-family: Kallisto;
  font-weight: 300;
}

.arguments {
  font-family: Kallisto;
  font-weight: 300;
}

.characterImage {
  max-height: 500px;
  max-width: 500px;
}

.reviewList {
  border: solid 5px $green;
  margin: 20px;
  border-radius: 10px;
}

.reviewTile {
  border: solid 3px $red;
  list-style: none;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

.submit {
  font-weight: bold;
  color: #fefefe;
  background-color: $blue;
  border-color: $red;
  border-width: 5px;
  border-radius: 10px;
}