@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url("https://use.typekit.net/qtt8vii.css");
@import "../../../public/stylesheets/colors.scss";
@import "../../../public/stylesheets/index.scss";
@import "../../../public/stylesheets/characterShow.scss";
@import "../../../public/stylesheets/voteButtons.scss";

body {
  background-color: $light-gray;
  color: white;
  font-family: Kallisto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}